.deck {
    position: absolute;
    width: 30%;
    height: 30%;
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: none;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);

  }

.deck > div {
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    will-change: transform;
    border-radius: 10px;
    box-shadow: 0 6px 20px -5px rgba(50, 50, 73, 0.2), 0 5px 5px -5px rgba(50, 50, 73, 0.1);
  }


.container {
    overscroll-behavior: none;
    overflow: hidden;
    cursor: url('../../assets/icon.png') 39 39, auto;
  } 
  

  .result-image {
    width: 33.33%;
    height: 33.33%;
    max-width: none; 
    max-height: none;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100%; 
  }
  

  .moment-of-truth{
    display: flex;
    justify-content: center; 
    align-items: center;
  }

  .result-image {
    width: 33.33%;
    height: 33.33%;
    max-width: none; 
    max-height: none;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100%; 
  }
  
  .result-text{

    width: 13.5em;
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

@keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid rgb(173, 67, 148);
    }
    100% {
      border: none;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid rgb(173, 67, 148);
    }
    100% {
      border: none;
    }
  }
  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid rgb(173, 67, 148);
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid rgb(84, 118, 61);
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: transparent;
    }
  }
