html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  #root, .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .header { 
    min-height: 15%;
    width: 100%;
    background-color: orange;
    font-family: 'Helvetica';
    font-weight: bold;
    color: #000000;
    font-size: 3em;
    margin-top: 25px;  
    margin-left: 25px;
  }
  
  .content-wrapper {
    flex-grow: 1; 
    min-height: 70%;
    width: 100%;
    background-color: blue;
    overflow: hidden;
  }
  
  .footer {
    min-height: 15%; 
    width: 100%;
    background-color: purple;
    color: #000000;
    font-family: 'Helvetica';
    font-weight: bold;    
    font-size: 2em;
    margin-bottom: 25px;  
    margin-left: 25px;
  }
  
  .button-style {
    padding: 10px 20px;
    font-family: 'Helvetica'; 
    font-size: 1em; 
    font-weight: bold;
    color: black;
    border: 2px solid black; 
    border-radius: 25px; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
  }
  
  .button-style:hover {
    background-color: black;
    color: white;
  }
  
  .button-style:active {
    background-color: black;
    color: white;
  }