#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

.container {
  position: relative;
  min-height: 50vh; 
}
 
.title {
  position: absolute;
  top: 0;
  left: 0;
  /* margin: 10px;  */
}
