html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root, .App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-left: 25px;
}

.header { 
  min-height: 10%;
  width: 100%;
  font-family: 'Helvetica';
  font-weight: bold;
  color: #000000;
  font-size: 2.5em;
  margin-top: 25px;  
  margin-left: 25px;
}

.intro {
  font-family: 'Helvetica';
  font-weight: bold italic;
  color: #000000;
}

.content-wrapper {
  flex-grow: 1; 
  width: 100%;
  overflow: hidden;
  font-size: 2.5em;
  margin-left: 25px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 25px;
}

footer {
  min-height: 10%; 
  width: 100%;
  color: #000000;
  font-family: 'Helvetica';
  font-weight: bold;    
  font-size: 1.5em;
  margin-bottom: 25px;  
  margin-left: 25px;
}


@media screen and (max-width: 414px) {
  .header, .content-wrapper, footer {
    margin-left: 10px;
  }
}

