html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root, .App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header { 
  min-height: 15%;
  background-color: orange;
  font-family: 'Helvetica';
  font-weight: bold;
  color: #000000;
  font-size: 3em;
  margin-top: 25px;  
  margin-left: 25px;
} 

.intro {
  font-family: 'Helvetica';
  font-weight: bold italic;
  color: #000000;
  font-size: 3em;
  margin-left: 25px;
  margin-top: 0;
  margin-bottom: 0;
}

.button-style {
  padding: 10px 20px;
  font-family: 'Helvetica'; 
  font-size: 1em; 
  font-weight: bold;
  color: black;
  border: 2px solid black; 
  border-radius: 25px; 
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s; 
}

.button-style:hover {
  background-color: black;
  color: white;
  /* border: 2px solid black; */
}

.button-style:active {
  background-color: black;
  color: white;
}

/* .proceed {
  display: flex;
  align-items: center; 
  gap: 10px; 
  margin: 0;
  padding: 0;
} */

.p{
  margin: 0; 
  padding: 0;
}

/* body {
  font-family: 'Helvetica';
  color: #000000;
  line-height: 1.6;
  padding: 20px;
  margin: 0;
  padding: 0;
  /* background-color: #EBE9D1; */
/* } */ */

.content-wrapper {
  flex-grow: 1;
  background-color: blue;
  display: flex; /* To center and properly align the content */
  justify-content: center; /* Center horizontally */
  align-items: center; 
  /* position: relative;
  padding-top: 60px;  */
  /* max-height: 70%; */
  overflow: hidden;
}

.footer {
  min-height: 15%;
  width: 100%;
  background-color: purple;
  color: #000000;
  margin-right: 25px;
  font-family: 'Helvetica';
  font-weight: bold;
  color: #000000;
  margin-bottom: 25px;  
  margin-left: 25px;
}

/* @media only screen and (max-width: 600px) {
  .header-title {
    font-size: 3em;
  }

  .container {
    width: 95%;
  }
} */

.about{
  font-family: 'Helvetica';
  color: #000000;
  font-size: 16px;
} 

.css-typing p {
  border-right: .15em solid rgb(55, 0, 255);
  white-space: nowrap;
  overflow: hidden;
}

.css-typing aside {
  white-space: nowrap;
  overflow: hidden;
}

.css-typing p:nth-child(1) {
  width: 13.5em;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 13.5em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  width: 22.9em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end), blink .5s step-end infinite alternate;;
  animation: type2 2s steps(40, end),  blink .5s step-end infinite alternate;;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* .css-typing p:nth-child(3) {
  width: 22.5em;
  opacity: 0;
  -webkit-animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
  animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
} */

.css-typing .proceed{
  color: #a79e9e;
  width: 10em;
  opacity: 0;
  -webkit-animation: type3 2s steps(40, end), blink .5s step-end infinite alternate;;
  animation: type3 2s steps(40, end),  blink .5s step-end infinite alternate;;
  /* -webkit-animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
  animation: type3 2s steps(20, end), blink .5s step-end infinite alternate; */
  -webkit-animation-delay: 4s;
  animation-delay: 6s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}


@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid rgb(173, 67, 148);
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid rgb(173, 67, 148);
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid rgb(173, 67, 148);
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid rgb(84, 118, 61);
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}
